---
http_interactions:
- request:
    method: post
    uri: https://www.gmxcheckout.com.br/txn/post
    body:
      encoding: UTF-8
      string: cartaoCredito.anoValidade=2030&cartaoCredito.bandeira=visa&cartaoCredito.codSeguranca=123&cartaoCredito.mesValidade=02&cartaoCredito.numero=4532286020241463&empresa.hashEmpresa=128012sad12kva&restApi=true&venda.capturaAuto=false&venda.consumidor.cpf=77266962226&venda.consumidor.nome=Jeanny+Lifewalker&venda.recorrencia.idRecorrencia=145068&venda.valor=100
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - pt
      Content-Type:
      - text/javascript;charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: '"{\"@type\":\"java.util.HashMap\",\"venda.status\":{\"@type\":\"int\",\"value\":1},\"venda.modalidadeVenda\":{\"@type\":\"int\",\"value\":1},\"venda.produto\":null,\"venda.valorCobrado\":\"1.00\",\"venda.arp\":\"BB30I2\",\"restApi\":true,\"venda.cliente.nome\":\"Jeanny Lifewalker\",\"venda.parcelas\":{\"@type\":\"int\",\"value\":1},\"venda.cartaoCredito.numeroMask\":\"************1463\",\"venda.empresa.cieloApiVersao\":\"3.0\",\"venda.eci\":{\"@type\":\"int\",\"value\":3},\"venda.valor\":\"100\",\"venda.adquirente\":\"CIELO\",\"venda.tid\":\"19381002316Y3VF32HQO\",\"venda.idVenda\":{\"@type\":\"int\",\"value\":193810},\"venda.cliente.cpf\":\"77266962226\",\"venda.cartaoCredito.bandeira\":\"visa\",\"venda.idVendaEmpresa\":\"R1849102\",\"venda.nsu\":\"001802\",\"status\":\"success\"}";

'
  recorded_at: Sat, 18 Nov 2017 16:25:55 GMT
recorded_with: VCR 3.0.3
